.body-space{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container1.windowing{    
    position: absolute;
    background-color: gray;
}

.container1 > .menu{
    z-index: 3;
    background-color: #123;
    position: relative;
}

.container1 > .slider{
    position: absolute;
    z-index: 2;
}

.container1 > .dockzone {
    position: absolute;
    z-index: 3;
    background-color: #456;
}

.partition{
    position: relative;
    display: flex;
    box-sizing: border-box;
    user-select: none;
    overflow:hidden;
    /*padding-left: 2px;*/
    /*padding-top: 2px;*/
}

.partition.across{
    padding-left: 8px;
}
.partition.vertical{
    padding-top: 8px;
}

.partition .handle.across{
    z-index:10;
}
.partition .handle.vertical{
    z-index:10;
}

.partition-content-across-left{
    padding-right:5px;
}
.partition-content-across-right{
    padding-left:5px;
}

.partition-content-vertical-top{
    padding-bottom:5px;
}
.partition-content-vertical-bottom{
    padding-top:5px;
}
